<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p><strong>Автор:</strong> {{ post.author }}</p>
    <p>{{ post.content }}</p>

    {% if user == post.author %}
    <form action="{% url 'post_edit' post.id %}" method="get">
        {% csrf_token %}
        <button type="submit">Редактировать пост</button>
    </form>

    <form action="{% url 'post_delete' post.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить пост </button>
    </form>
    {% endif %}
    
    <br>

    <div id="comments-section">
        <h2>Комментарии:</h2>
            <ul id="comments-list">
                {% for comment in post.comments.all %}
                    <p>{{comment.author}} прокомментировал:</p>
                    <p>{{comment.content }}</p>
                {% endfor %}
        </ul>
    </div>

    {% if user.is_authenticated  %}
        <form action="{% url 'post_detail' post.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }} <!-- Используем вашу форму -->
            <button type="submit">Отправить</button>
        </form>

        {% else %}
            <p>
                Совершите
                <a href="{% url 'login' %}">Вход</a>
                или
                <a href="{% url 'registration' %}">Зарегистрируйтесь</a>,
                чтобы прокомментировать пост.
            </p>
    {% endif %}

    <br>

    <a href="{% url 'post_list' %}">Назад к списку постов</a>
</body>
</html>
